/*class=note-item complete
class=note-item incomplete
class=task-title
class=task-check
class=task-toggle btn btn-primary
class=task-uncheck
class=task-toggle btn btn-warning*/

tr.complete .task-title {
	text-decoration: line-through;
}

tr.complete td.task-check {
	display: none;
}

tr.incomplete td.task-uncheck {
	display: none;
}