{% extends "layouts/common.html" %}

{% import "macros/errordisplay.html" as errormacros %}
{% block content %}
<div id="main-game-container">
	<!--div id="game-info">
		You are <span class="c4-cell-display pred"></span>,
		it's currently <span id="c4-turn-info">your turn</span>.
	</div-->
	<table id="main-game">
		<tr class="c4-row" x-row="5">
			<td class="c4-cell" x-col="0"></td>
			<td class="c4-cell" x-col="1"></td>
			<td class="c4-cell" x-col="2"></td>
			<td class="c4-cell" x-col="3"></td>
			<td class="c4-cell" x-col="4"></td>
			<td class="c4-cell" x-col="5"></td>
			<td class="c4-cell" x-col="6"></td>
		</tr>
		<tr class="c4-row" x-row="4">
			<td class="c4-cell" x-col="0"></td>
			<td class="c4-cell" x-col="1"></td>
			<td class="c4-cell" x-col="2"></td>
			<td class="c4-cell" x-col="3"></td>
			<td class="c4-cell" x-col="4"></td>
			<td class="c4-cell" x-col="5"></td>
			<td class="c4-cell" x-col="6"></td>
		</tr>
		<tr class="c4-row" x-row="3">
			<td class="c4-cell" x-col="0"></td>
			<td class="c4-cell" x-col="1"></td>
			<td class="c4-cell" x-col="2"></td>
			<td class="c4-cell" x-col="3"></td>
			<td class="c4-cell" x-col="4"></td>
			<td class="c4-cell" x-col="5"></td>
			<td class="c4-cell" x-col="6"></td>
		</tr>
		<tr class="c4-row" x-row="2">
			<td class="c4-cell" x-col="0"></td>
			<td class="c4-cell" x-col="1"></td>
			<td class="c4-cell" x-col="2"></td>
			<td class="c4-cell" x-col="3"></td>
			<td class="c4-cell" x-col="4"></td>
			<td class="c4-cell" x-col="5"></td>
			<td class="c4-cell" x-col="6"></td>
		</tr>
		<tr class="c4-row" x-row="1">
			<td class="c4-cell" x-col="0"></td>
			<td class="c4-cell" x-col="1"></td>
			<td class="c4-cell" x-col="2"></td>
			<td class="c4-cell" x-col="3"></td>
			<td class="c4-cell" x-col="4"></td>
			<td class="c4-cell" x-col="5"></td>
			<td class="c4-cell" x-col="6"></td>
		</tr>
		<tr class="c4-row" x-row="0">
			<td class="c4-cell" x-col="0"></td>
			<td class="c4-cell" x-col="1"></td>
			<td class="c4-cell" x-col="2"></td>
			<td class="c4-cell" x-col="3"></td>
			<td class="c4-cell" x-col="4"></td>
			<td class="c4-cell" x-col="5"></td>
			<td class="c4-cell" x-col="6"></td>
		</tr>
	</table>
	<div class="btn btn-primary game-new">New game</div>
</div>

<script type="text/javascript" src="/static/js/connect4.js"></script>
{% endblock %}